extends layout

block content
  form(role="form", method="post", action="/up", enctype="multipart/form-data")
    input(type="file", name="pic")
    button.btn.btn-default(type="submit") 提交

  | 
  | <div style="width: 990px; height: 978px;" class="box">
  |   <img src="/images/uploads/rihanxi-0.jpg">
  |   <img src="/images/uploads/rihanxi-1.jpg">
  |   <img src="/images/uploads/rihanxi-2.jpg">
  |   <img src="/images/uploads/rihanxi-3.jpg">
  |   <img src="/images/uploads/rihanxi-4.jpg">
  |   <img src="/images/uploads/rihanxi-5.jpg">
  |   <img src="/images/uploads/rihanxi-6.jpg">
  | </div>
  | <button class="btn js-generate" data-name="rihanxi">生成</button>

  if smpic
    div.box(style="width: #{smpic.width}px; height: #{smpic.height}px;")
      each p in smpic.pics
        img(src="#{p}")
    button.btn.js-generate(data-name="#{name}")

  script(src="http://res.jiuyan.info/201401131356/lib/seajs/1.1.0/sea-jquery.js")
  script(src="/javascripts/all.js")
